html {
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*the top bar properties*/
.nav-bar {
    background-color: deepskyblue;
    line-height: 4rem;
    font-size: 1rem;
}

.nav-bar-format {
}

.container {
    /*changing the color portion*/
    padding: 0 4rem;
    /*changing how much you can fit in a line basically*/
    max-width: 100rem;
    /* changing the space on top */

    margin: 10px auto;
}