html {
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body #bg {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    clip-path: polygon(100% 1%, 100% 10%, 10% 99%, 0% 99%, 0% 30%);
    position: absolute;
    z-index: -1;
}



input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
}

input:required:focus{
    border-color: black;
    background-color: lightblue;
}

div.submission-attempted input:invalid {
    border-color: red;
    outline: none;
}
  
/*changing the space between each nav*/
nav a {
    color: black;
    margin: 20px;
    padding: 10px;
}

/*the top bar properties*/
.nav-bar {
    background-color: #87CEFA;
    line-height: 4rem;
    font-size: 1rem;
}

/* 16px = 1rem */
.container {
    /*changing the color portion*/
    padding: 0 1rem;
    /*changing how much you can fit in a line basically*/
    max-width: 100rem;
    /* changing the space on top */
    margin: 10px auto;
}
