html {
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*changing the space between each nav*/
nav a {
    color: #fff;
    margin: 10px;
}

/*the top bar properties*/
.nav-bar {
    background-color: deepskyblue;
    line-height: 4rem;
    font-size: 1rem;
}

/*idk what this for*/
.nav-bar-format {
}

/* rem is just a bigger size for px, 1rem = 16px*/
.container {
    /*changing the color portion*/
    padding: 0 1rem;
    /*changing how much you can fit in a line basically*/
    max-width: 100rem;
    /* changing the space on top */
    margin: 10px auto;
}
