.register #registerform {
    margin: 70px;
}

.register form.submission-attempted input:invalid {
    background-color: lightcoral;
    outline: none;
    
}

.password_font {
    list-style-type: square;
    font-size: 10px;
}
