/* "#" is for individual item (id), "." is for classes (class)*/

#registerform {
    margin-left: 30px;
}

.register form.submission-attempted input:invalid {
    background-color: lightcoral;
    outline: none;
    
}

.password_font {
    list-style-type: square;
    font-size: 10px;
}
